.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.custom-table td.ant-table-cell {
  padding: 0 !important;
  padding-left: 1px;
  font-size: 0.8em;
}

.myTable th.ant-table-cell {
  text-align: center !important;
  background-color: rgba(255, 200, 0, 0.8) !important;
}

@page {
  size: legal;
  margin: 0.5in;
}
